.users {
    flex: 1;
    width: 100%;
}

.user-name {
    color: rgb(115, 249, 133);
}
#active-status {
    padding-top: .5em;
}
.message1 {
    background-color: rgb(115, 249, 133);
    color: white;
    text-align: left;
    margin-bottom: 1em;
    margin-right: 8em;
    align-items: left;
    border-radius: 10px;
}

.message2 {
    background-color: rgb(90, 4, 230);
    color: white;
    text-align: right;
    margin-bottom: 2em;
    border-radius: 10px;
    margin-left: 8em;
}

.typeHere {
    border:rgb(90, 4, 230);
}